[

{fcm_push, [
    {api_key, "AAAAkTwFkGk:APA91bHkXKy9B3Q8LoQoHtLzJi9oOaB55zsoggDwGECqS7foU0DwYv2zk4QZQYsJJu476W29MxrfEUQXi_dwBTz2JzRFs76q2cwXeyg4NJCSeeG8BRqXW8XOa2Vd2wJwWb3_GtDqQ86a"},
    %{api_key, "AAAAv4i4GXA:APA91bEhbzic6VE2hw_poa_p5IJTzPP-ue9RlIFcnSGhXLCthiQlCRbd7w_3fXtXPvUibh7fXG21rtHgQrnbt8qZLA7LIgJED8BVUs9IpHdUSy5ihuA2IjK4rals7TNB0vSgKNMU7Kdx"},
    %{proxy, undefined}
    %{proxy, "127.0.0.1:1090"}
    {proxy, {socks5, "127.0.0.1", 1080}}
]},

{lager, [
    {handlers, [
        {lager_console_backend, debug},
        {lager_file_backend, [
            {file, "logs/console.log"}, {level, debug}, {size, 10485760}, {date, "$D0"}, {count, 16}
        ]},
        {lager_file_backend, [
            {file, "logs/error.log"}, {level, error}, {size, 10485760}, {date, "$D0"}, {count, 10}
        ]}
    ]},
    {crash_log, "logs/crash.log"},
    {colored, true}
]}

].
